.header-bar {
    background-color: #007bff;
    width: 100%;
    height: 50px;
    overflow: hidden;
    position: relative;
}

.header-bar__logo {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.header-bar__title {
    margin-top: auto;
    margin-bottom: auto;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    position: absolute;
    font-weight: bolder;
    color: cornsilk;
}